
:root{
    --titles-text-color:#545454;
    --secondary-text-color:#FFFFFF;
}
html {
    /* font-family: "Arial", sans-serif; */
    font-family: "Georgia", sans-serif;
    scroll-behavior: smooth;
}

*,*::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}
title{
    font-family: "Georgia", sans-serif;

}
.descr{
font-family: "Arial", sans-serif;

}
.link{
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* header */
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}
.header__wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #292929;
    letter-spacing: 0.06em;
    /* line-height: 110%; */


}
.descr_logo{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;

}

.nav__list{
    display: flex;
}

.nav_list_link{
    margin-right: 35px;

}
.nav__link{
    padding-bottom: 3px;
}
.nav__link:hover{
    border-bottom: 3px solid #F1CDB3;

}

.nav__link.active {
    color:#292929;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3
}


.nav_list_link:last-child{
    margin-right:  0;
}
.nav__link{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: var(--titles-text-color);
}
/* our pets */

.our_pets{
background-color: #F6F6F6;
}